.container{
    background-color: aqua;  
    background-size: 80%;
    background-position:center ;
    overflow: hidden;
    height: 100vh; 
    
   }



.details{  
    background-size: 100%;
    background-position:center ;
    overflow: hidden;
    height: 100vh; 
    position: relative;
   }
   
   .det{
       position: absolute;
       left:50%;
       bottom: 25%;
   }
   
   .img{
       height: 300px;
       width: 200px;
   }
   .name{
       position: fixed; 
       left:50%;
       bottom: 70%;
       font-size: 40px;
       color: red;
       font-size: 50px;
   }
   
   .infoPokemon{
       position: fixed; 
       left:10%;
       bottom: 18%;
       font-size: 40px;
       color: rgb(58, 52, 81);
   }
  
   .home{
   position: fixed;
   left: 30px;
   right: 50px;
   bottom: 50px;
   height: 77px;
   width: 200px;
   border-radius: 12px;
   color: rgb(0, 0, 0);
   font-size: 28px;
   font-family: 'Architects Daughter', cursive;
   transition: all 500ms ease;
   border: 4px solid rgb(149, 1, 1);
   margin-bottom: 40px;
   
   }
   
   
   
   /* .home::before{
       content: " ";
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       margin: auto;
       background-color:rgb(149, 1, 1); 
       transition: all 500ms ease;
       z-index: -1;
     } */
     
     
     .home:hover{
       background-color:rgb(149, 1, 1); 
       box-shadow: rgb(149, 1, 1), 0 0 20 rgb(149, 1, 1); 
       color: white;
     }