/* .container{
    
    align-items:center;
    background-color: aqua;  
    background-size: 80%;
    background-position:center ;
    overflow: hidden;
    height: 100vh; 
    
    border: 8px solid black
    
   } */
    .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: 60%;
    background-position: center;
    background-color:orangered;
    margin-left: 20%;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 6px 16px;
  }

  .img {
    border-radius: 5px 5px 0 0;
  }

/* .details{  
    background-size: 100%;
    background-position:center ;
    overflow: hidden;
    height: 100vh; 
    
   }
   
   .det{
       position: absolute;
       left:50%;
       bottom: 25%;
   }
   
   .img{
       height: 300px;
       width: 200px;
   }
   .name{
       position: fixed; 
       left:50%;
       bottom: 60%;
       font-size: 40px;
       color: red;
       font-size: 50px;
   }
   
   .infoPokemon{
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       position: fixed; 
       left:10%;
       bottom: 30%;
       font-size: 20px;
       color: rgb(58, 52, 81);
   } */
  
   .back{
   position: fixed;
   left: 30px;
   right: 50px;
   bottom: 50px;
   height: 77px;
   width: 200px;
   border-radius: 12px;
   color: rgb(0, 0, 0);
   font-size: 28px;
   font-family: 'Architects Daughter', cursive;
   transition: all 500ms ease;
   border: 4px solid rgb(149, 1, 1);
   margin-bottom: 40px;
    cursor: pointer;
   
   
   }
   
   
     
     .back:hover{
       background-color:rgb(149, 1, 1); 
       box-shadow: rgb(149, 1, 1), 0 0 20 rgb(149, 1, 1); 
       color: white;
     }