

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #333;
  margin: auto;
  padding: 25px;
}

.navbar__select {
  appearance: none;
  background-color: white;
  color: black;
  border: none;
  margin: 25px;
  padding: 10px ;
  height: 50px;
  width: 150px;
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  width: 15px;
  cursor: pointer;
  transition: all 0.3s ease;

 
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar__select {
    width: 100%;
  }

  .btn {
    @media (max-width: 767px) {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}