.pokemon_card {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  width: 90%;
  height: 85%;
}

.pokemon_card img {
  width: 80%;
  height: 80%;
  margin-bottom: 1rem;
}

.pokemon_card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.pokemon_card p {
  font-size: 1.2rem;
  font-style: italic;
}

.pokemon_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  max-width: 1200px; /* establece un ancho máximo para las cards */
}


/* media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .pokemon_card_container {
    grid-template-columns: repeat(3, 1fr); /* cambia a 3 columnas */
    grid-gap: 0.5rem; /* ajusta el espacio entre las cards */
  }
}

/* media query para pantallas más pequeñas */
@media screen and (max-width: 480px) {
  .pokemon_card_container {
    grid-template-columns: repeat(2, 1fr); /* cambia a 2 columnas */
    grid-gap: 0.25rem; /* ajusta el espacio entre las cards */
  }
}