

.pokemons {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 13px;
grid-row-gap: 7px;
    }


    .button {
        background-color: skyblue; /* Green */
        border: none;
        border-radius: 5px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }

      .button:hover {
        background-color: #008CBA;
        color: white;
      }

      .buttonBack {
        
            display: inline-block;
            border-radius: 5px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 16px;
            padding: 16px 32px;
            width: 200px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin: 4px 2px;
      }

      .pagination {
        display: inline-block;
        background-color:orange ;
        color: #f4511e;
        
        
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
      }
      
      .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
      }
     
          
          .buttonBack back {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .buttonBack:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            left: -20px;
            transition: 0.5s;
          }
          
          .buttonBack:hover  {
            padding-left: 25px;
          }
          
          .buttonBack:hover :after {
            opacity: 1;
            left: 4;
          }
      
      
